<?xml version="1.0"?>
<configuration>
  <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="AndroidDecompiler.MobSF" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MASToolBox.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="MASToolBox.Properties.MobSF" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="AndroidDecompiler.Properties.MobSF" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <AndroidDecompiler.MobSF>
            <setting name="MobSFPath" serializeAs="String">
                <value/>
            </setting>
            <setting name="isMobSFPatched" serializeAs="String">
                <value>False</value>
            </setting>
        </AndroidDecompiler.MobSF>
    </applicationSettings>
    <userSettings>
        <MASToolBox.Properties.Settings>
            <setting name="IsToolsUnzip" serializeAs="String">
                <value>False</value>
            </setting>
        </MASToolBox.Properties.Settings>
        <MASToolBox.Properties.MobSF>
            <setting name="MobSFPath" serializeAs="String">
                <value/>
            </setting>
            <setting name="IsMobSFPatched" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="APIKey" serializeAs="String">
                <value/>
            </setting>
            <setting name="IsFirstRun" serializeAs="String">
                <value>True</value>
            </setting>
        </MASToolBox.Properties.MobSF>
        <AndroidDecompiler.Properties.MobSF>
            <setting name="MobSFPath" serializeAs="String">
                <value/>
            </setting>
            <setting name="IsMobSFPatched" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="APIKey" serializeAs="String">
                <value/>
            </setting>
            <setting name="IsFirstRun" serializeAs="String">
                <value>True</value>
            </setting>
        </AndroidDecompiler.Properties.MobSF>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
